pipeline/ahwffPipelineCanonical.json
{
	"name": "ahwffPipelineCanonical",
	"properties": {
		"activities": [
			{
				"name": "CanonicalStart",
				"type": "WebActivity",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"message": "Hello from CanonicalStart",
						"preferSuccess": {
							"value": "@pipeline().parameters.TakeSuccessPath",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CanonicalCopy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CanonicalStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "ahwffBlobDatasetIn",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ahwffBlobDatasetOut",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@if(activity('CanonicalStart').output.ShouldSucceed, 'bashout', 'BadContainerName')",
								"type": "Expression"
							},
							"fileName": "CanonicalOutput.csv"
						}
					}
				]
			},
			{
				"name": "CanonicalSucceeded",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CanonicalCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"message": "Hello from CanonicalSucceeded",
						"preferSuccess": true
					}
				}
			},
			{
				"name": "CanonicalFailed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CanonicalCopy",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"message": "Hello from CanonicalFailed",
						"preferSuccess": true
					}
				}
			}
		],
		"parameters": {
			"TakeSuccessPath": {
				"type": "Bool"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}