pipeline/ahwffPipelineCustomBatch.json
{
	"name": "ahwffPipelineCustomBatch",
	"properties": {
		"activities": [
			{
				"name": "CustomBatchTest",
				"type": "Custom",
				"policy": {
					"timeout": "00:03:00",
					"retry": 1,
					"retryIntervalInSeconds": 30
				},
				"typeProperties": {
					"command": {
						"value": "Arthurw@{pipeline().parameters.test}Custom.exe",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "ahwffStorageLinkedService",
						"type": "LinkedServiceReference"
					},
					"folderPath": "bashin/custombatchfiles",
					"extendedProperties": {
						"testExtendedProperty": "expected value"
					},
					"referenceObjects": {
						"linkedServices": [
							{
								"referenceName": "ahwffStorageLinkedService",
								"type": "LinkedServiceReference"
							}
						],
						"datasets": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashout",
									"fileName": "testcustomout.csv"
								}
							}
						]
					}
				},
				"linkedServiceName": {
					"referenceName": "ahwffBatchLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "WebFromCustomBatch",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CustomBatchTest",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": {
							"value": "@{activity('CustomBatchTest')}",
							"type": "Expression"
						},
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"preferSuccess": true
					}
				}
			}
		],
		"parameters": {
			"test": {
				"type": "String",
				"defaultValue": "Test"
			}
		},
		"concurrency": 1
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}