pipeline/ahwffManualControl.json
{
	"name": "ahwffManualControl",
	"properties": {
		"description": "From scratch",
		"activities": [
			{
				"name": "Set Variable1",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "StringVar",
					"value": {
						"value": "@pipeline().parameters.String1",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set Variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(variables('StringVar')), 0)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set Variable1 Inner",
							"type": "SetVariable",
							"typeProperties": {
								"variableName": "StringVar2",
								"value": {
									"value": "@substring(variables('StringVar'),0,sub(length(variables('StringVar')), 1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Variable 2 Inner",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Variable1 Inner",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "StringVar",
								"value": {
									"value": "@variables('StringVar2')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.00:02:00"
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"typeProperties": {
					"items": {
						"value": "@json(replace(pipeline().parameters.NumArrayString, '_', ''))",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(), 1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"userProperties": [
					{
						"name": "FirstUserProperty",
						"value": "First User Value"
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ahwffPipelineSingleWait",
						"type": "PipelineReference"
					}
				}
			}
		],
		"parameters": {
			"String1": {
				"type": "String"
			},
			"NumString": {
				"type": "String",
				"defaultValue": "1"
			},
			"BoolString": {
				"type": "String",
				"defaultValue": "true"
			},
			"NumArrayString": {
				"type": "String",
				"defaultValue": "_[1,2]"
			}
		},
		"variables": {
			"ArrayVar": {
				"type": "Array"
			},
			"StringVar": {
				"type": "String"
			},
			"StringVar2": {
				"type": "String"
			}
		},
		"annotations": [
			"ManualArthurW"
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}