ahwfairfax1012/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "ahwfairfax1012"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureBlobStorage2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage2'"
		},
		"HdiByoc_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'HdiByoc'"
		},
		"HdiByocLS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'HdiByocLS'"
		},
		"HdiOnDemand_clusterPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterPassword' of 'HdiOnDemand'"
		},
		"HdiOnDemand_clusterSshPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterSshPassword' of 'HdiOnDemand'"
		},
		"HdiOnDemand_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'HdiOnDemand'"
		},
		"HdiOnDemandInPublic_clusterPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterPassword' of 'HdiOnDemandInPublic'"
		},
		"HdiOnDemandInPublic_clusterSshPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterSshPassword' of 'HdiOnDemandInPublic'"
		},
		"HdiOnDemandInPublic_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'HdiOnDemandInPublic'"
		},
		"HdiOnDemandPub_clusterPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterPassword' of 'HdiOnDemandPub'"
		},
		"HdiOnDemandPub_clusterSshPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterSshPassword' of 'HdiOnDemandPub'"
		},
		"HdiOnDemandPub_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'HdiOnDemandPub'"
		},
		"ahwffBatchLinkedService_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'ahwffBatchLinkedService'"
		},
		"ahwffBatchStorageLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ahwffBatchStorageLinkedService'"
		},
		"ahwffSqlLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ahwffSqlLinkedService'"
		},
		"ahwffStorageLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ahwffStorageLinkedService'"
		},
		"ahwffStorageLinkedServiceWithManagedIR_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ahwffStorageLinkedServiceWithManagedIR'"
		},
		"ahwffpubBatchLinkedService_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'ahwffpubBatchLinkedService'"
		},
		"ahwffpubBatchStorageLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ahwffpubBatchStorageLinkedService'"
		},
		"ahwffpubSqlLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ahwffpubSqlLinkedService'"
		},
		"ahwffpubStorageLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ahwffpubStorageLinkedService'"
		},
		"ahwffpubStorageLinkedServiceWithManagedIR_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ahwffpubStorageLinkedServiceWithManagedIR'"
		},
		"linkedService1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'linkedService1'"
		},
		"DestinationDataset_7kl_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "copywizout.csv"
		},
		"DestinationDataset_7kl_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "bashout"
		},
		"DestinationDataset_w0y_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "copywizstagedout.csv"
		},
		"DestinationDataset_w0y_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "bashout"
		},
		"SourceDataset_7kl_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "entitylogs.csv"
		},
		"SourceDataset_7kl_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "bashin"
		},
		"SourceDataset_w0y_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "entitylogs.csv"
		},
		"SourceDataset_w0y_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "bashin"
		},
		"ahwffBlobDatasetIn_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "entitylogs.csv"
		},
		"ahwffBlobDatasetIn_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "bashin"
		},
		"ahwffBlobDatasetInFolderOnly_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "bashin"
		},
		"ahwffBlobDatasetInParameterized_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().fileName"
		},
		"ahwffBlobDatasetInParameterized_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().folderPath"
		},
		"ahwffBlobDatasetJson_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().fileName"
		},
		"ahwffBlobDatasetJson_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().folderPath"
		},
		"ahwffBlobDatasetOut_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat('ahwff_', dataset().fileName)"
		},
		"ahwffBlobDatasetOut_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().folderPath"
		},
		"ahwffBlobDatasetOutWithManagedIR_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat('ahwff_', dataset().fileName)"
		},
		"ahwffBlobDatasetOutWithManagedIR_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().folderPath"
		},
		"ahwffpubBlobDatasetIn_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "entitylogs.csv"
		},
		"ahwffpubBlobDatasetIn_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "bashin"
		},
		"ahwffpubBlobDatasetInFolderOnly_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "bashin"
		},
		"ahwffpubBlobDatasetInParameterized_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().fileName"
		},
		"ahwffpubBlobDatasetInParameterized_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().folderPath"
		},
		"ahwffpubBlobDatasetJson_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().fileName"
		},
		"ahwffpubBlobDatasetJson_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().folderPath"
		},
		"ahwffpubBlobDatasetOut_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat('ahwffpub_', dataset().fileName)"
		},
		"ahwffpubBlobDatasetOut_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().folderPath"
		},
		"ahwffpubBlobDatasetOutWithManagedIR_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat('ahwffpub_', dataset().fileName)"
		},
		"ahwffpubBlobDatasetOutWithManagedIR_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().folderPath"
		},
		"HdiByoc_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admin"
		},
		"HdiByocLS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admin"
		},
		"HdiOnDemand_properties_typeProperties_hostSubscriptionId": {
			"type": "string",
			"defaultValue": "8e94fd59-3676-45d7-beb4-7d31e0401e04"
		},
		"HdiOnDemand_properties_typeProperties_clusterResourceGroup": {
			"type": "string",
			"defaultValue": "adf"
		},
		"HdiOnDemand_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "24ad92f5-bea4-45c1-b5b0-f80f59292ddc"
		},
		"HdiOnDemand_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "63296244-ce2c-46d8-bc36-3e558792fbee"
		},
		"HdiOnDemand_properties_typeProperties_clusterUserName": {
			"type": "string",
			"defaultValue": "admin"
		},
		"HdiOnDemand_properties_typeProperties_clusterSshUserName": {
			"type": "string",
			"defaultValue": "sshadmin"
		},
		"HdiOnDemandInPublic_properties_typeProperties_hostSubscriptionId": {
			"type": "string",
			"defaultValue": "1e42591f-1f0c-4c5a-b7f2-a268f6105ec5"
		},
		"HdiOnDemandInPublic_properties_typeProperties_clusterResourceGroup": {
			"type": "string",
			"defaultValue": "adf"
		},
		"HdiOnDemandInPublic_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "356e6faf-aa84-4329-9786-87a958b91e2b"
		},
		"HdiOnDemandInPublic_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "72f988bf-86f1-41af-91ab-2d7cd011db47"
		},
		"HdiOnDemandPub_properties_typeProperties_hostSubscriptionId": {
			"type": "string",
			"defaultValue": "8e94fd59-3676-45d7-beb4-7d31e0401e04"
		},
		"HdiOnDemandPub_properties_typeProperties_clusterResourceGroup": {
			"type": "string",
			"defaultValue": "adf"
		},
		"HdiOnDemandPub_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "24ad92f5-bea4-45c1-b5b0-f80f59292ddc"
		},
		"HdiOnDemandPub_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "63296244-ce2c-46d8-bc36-3e558792fbee"
		},
		"ahwffBatchLinkedService_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "examplebatch"
		},
		"ahwffpubBatchLinkedService_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "arthurwbatch"
		},
		"linkedService1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admin"
		},
		"ahwffTriggerMultipleWeb_properties_ahwffPipelineWeb_parameters_Greeting": {
			"type": "string",
			"defaultValue": "@{concat('Hello 5 from TriggerMultipleWeb ahwff at time ', formatDateTime(trigger().startTime, 'yyyy-MM-dd-HH-mm'))}"
		},
		"ahwffpubTriggerMultipleWeb_properties_ahwffpubPipelineWeb_parameters_Greeting": {
			"type": "string",
			"defaultValue": "@{concat('Hello 5 from TriggerMultipleWeb ahwffpub at time ', formatDateTime(trigger().startTime, 'yyyy-MM-dd-HH-mm'))}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_7kl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_7kl",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "bashin/entitylogs.csv"
							},
							{
								"name": "Destination",
								"value": "bashout/copywizout.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_7kl",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_7kl",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_7kl')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_7kl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_w0y')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Try staging",
				"activities": [
					{
						"name": "Copy_w0y",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "bashin/entitylogs.csv"
							},
							{
								"name": "Destination",
								"value": "bashout/copywizstagedout.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "ahwffStorageLinkedService",
									"type": "LinkedServiceReference"
								},
								"path": "bashout"
							},
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_w0y",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_w0y",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_w0y')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_w0y')]",
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HdiByoc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Hive1",
						"type": "HDInsightHive",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scriptPath": "hive1/Unnamed",
							"scriptLinkedService": {
								"referenceName": "AzureBlobStorage2",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "HdiByocLS",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage2')]",
				"[concat(variables('factoryId'), '/linkedServices/HdiByocLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HdiOnDemandTest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "HiveOnDemand",
						"type": "HDInsightHive",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scriptPath": "hive1/Unnamed",
							"scriptLinkedService": {
								"referenceName": "ahwffStorageLinkedService",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "HdiByoc",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]",
				"[concat(variables('factoryId'), '/linkedServices/HdiByoc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffManualControl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "From scratch",
				"activities": [
					{
						"name": "Set Variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "StringVar",
							"value": {
								"value": "@pipeline().parameters.String1",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set Variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(length(variables('StringVar')), 0)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set Variable1 Inner",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "StringVar2",
										"value": {
											"value": "@substring(variables('StringVar'),0,sub(length(variables('StringVar')), 1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Variable 2 Inner",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Variable1 Inner",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "StringVar",
										"value": {
											"value": "@variables('StringVar2')",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "0.00:02:00"
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@json(replace(pipeline().parameters.NumArrayString, '_', ''))",
								"type": "Expression"
							},
							"condition": {
								"value": "@greater(item(), 1)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [
							{
								"name": "FirstUserProperty",
								"value": "First User Value"
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ahwffPipelineSingleWait",
								"type": "PipelineReference"
							}
						}
					}
				],
				"parameters": {
					"String1": {
						"type": "String"
					},
					"NumString": {
						"type": "String",
						"defaultValue": "1"
					},
					"BoolString": {
						"type": "String",
						"defaultValue": "true"
					},
					"NumArrayString": {
						"type": "String",
						"defaultValue": "_[1,2]"
					}
				},
				"variables": {
					"ArrayVar": {
						"type": "Array"
					},
					"StringVar": {
						"type": "String"
					},
					"StringVar2": {
						"type": "String"
					}
				},
				"annotations": [
					"ManualArthurW"
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ahwffPipelineSingleWait')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffManualMSI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.usgovcloudapi.net/subscriptions/65490100-336e-4e01-8026-bb88807690fb/resourcegroups/arthurwtest/providers/Microsoft.DataFactory/factories/ahwfairfax1012/pipelines/ahwffPipelineWeb?api-version=2018-06-01",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.usgovcloudapi.net"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineBlobToBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyBlobToBlob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4
						},
						"inputs": [
							{
								"referenceName": "ahwffBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@pipeline().parameters.OutputBlobPath",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.OutputBlobName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"OutputBlobName": {
						"type": "String"
					},
					"OutputBlobPath": {
						"type": "String",
						"defaultValue": "bashout"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetIn')]",
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetOut')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineCanonical')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CanonicalStart",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"message": "Hello from CanonicalStart",
								"preferSuccess": {
									"value": "@pipeline().parameters.TakeSuccessPath",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CanonicalCopy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CanonicalStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@if(activity('CanonicalStart').output.ShouldSucceed, 'bashout', 'BadContainerName')",
										"type": "Expression"
									},
									"fileName": "CanonicalOutput.csv"
								}
							}
						]
					},
					{
						"name": "CanonicalSucceeded",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CanonicalCopy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"message": "Hello from CanonicalSucceeded",
								"preferSuccess": true
							}
						}
					},
					{
						"name": "CanonicalFailed",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CanonicalCopy",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"message": "Hello from CanonicalFailed",
								"preferSuccess": true
							}
						}
					}
				],
				"parameters": {
					"TakeSuccessPath": {
						"type": "Bool"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetIn')]",
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetOut')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineCanonicalWithSkip')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Like PipelineCanonical, however pipeline run should succeed regardless of activity success.",
				"activities": [
					{
						"name": "CanonicalStart",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"message": "Hello from CanonicalStart (with skip)",
								"preferSuccess": {
									"value": "@pipeline().parameters.TakeSuccessPath",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CanonicalCopy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CanonicalStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@if(activity('CanonicalStart').output.ShouldSucceed, 'bashout', 'BadContainerName')",
										"type": "Expression"
									},
									"fileName": "CanonicalWithSkipOutput.csv"
								}
							}
						]
					},
					{
						"name": "CanonicalSucceeded",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CanonicalCopy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"message": "Hello from CanonicalSucceeded (with skip)",
								"preferSuccess": true
							}
						}
					},
					{
						"name": "CanonicalSucceededFailed",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CanonicalSucceeded",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"message": "Hello from CanonicalSucceededFailed (with skip)",
								"preferSuccess": true
							}
						}
					}
				],
				"parameters": {
					"TakeSuccessPath": {
						"type": "Bool"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetIn')]",
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetOut')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineComplex')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopySqlToBlob1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffSqlDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@if(pipeline().parameters.ShouldSucceed1, 'bashout', 'InvalidContainer')",
										"type": "Expression"
									},
									"fileName": {
										"value": "@concat('intermediate1_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Succeeded1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@if(pipeline().parameters.ShouldSucceed1, 'bashout', 'InvalidContainer')",
										"type": "Expression"
									},
									"fileName": {
										"value": "@concat('intermediate1_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashout",
									"fileName": {
										"value": "@concat('succeeded1_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Failed1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashout",
									"fileName": {
										"value": "@concat('failed1_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Completed1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashout",
									"fileName": {
										"value": "@concat('completed1_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "CopySqlToBlob2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob1",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Completed1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffSqlDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@if(pipeline().parameters.ShouldSucceed2, 'bashout', 'InvalidContainer')",
										"type": "Expression"
									},
									"fileName": {
										"value": "@concat('intermediate2_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Succeeded2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@if(pipeline().parameters.ShouldSucceed2, 'bashout', 'InvalidContainer')",
										"type": "Expression"
									},
									"fileName": {
										"value": "@concat('intermediate2_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashout",
									"fileName": {
										"value": "@concat('succeeded2_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Failed2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashout",
									"fileName": {
										"value": "@concat('failed2_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Completed2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashout",
									"fileName": {
										"value": "@concat('completed2_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"OutputBlobName": {
						"type": "String"
					},
					"ShouldSucceed1": {
						"type": "Bool",
						"defaultValue": false
					},
					"ShouldSucceed2": {
						"type": "Bool",
						"defaultValue": false
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffSqlDatasetIn')]",
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetOut')]",
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetIn')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineCustomBatch')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CustomBatchTest",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "00:03:00",
							"retry": 1,
							"retryIntervalInSeconds": 30
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "Arthurw@{pipeline().parameters.test}Custom.exe",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "ahwffStorageLinkedService",
								"type": "LinkedServiceReference"
							},
							"folderPath": "bashin/custombatchfiles",
							"extendedProperties": {
								"testExtendedProperty": "expected value"
							},
							"referenceObjects": {
								"linkedServices": [
									{
										"referenceName": "ahwffStorageLinkedService",
										"type": "LinkedServiceReference"
									}
								],
								"datasets": [
									{
										"referenceName": "ahwffBlobDatasetOut",
										"type": "DatasetReference",
										"parameters": {
											"folderPath": "bashout",
											"fileName": "testcustomout.csv"
										}
									}
								]
							}
						},
						"linkedServiceName": {
							"referenceName": "ahwffBatchLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "WebFromCustomBatch",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CustomBatchTest",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"message": {
									"value": "@{activity('CustomBatchTest')}",
									"type": "Expression"
								},
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"preferSuccess": true
							}
						}
					}
				],
				"parameters": {
					"test": {
						"type": "String",
						"defaultValue": "Test"
					}
				},
				"annotations": [],
				"concurrency": 1
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]",
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetOut')]",
				"[concat(variables('factoryId'), '/linkedServices/ahwffBatchLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineForeachCopy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupManyInputsList",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"dataset": {
								"referenceName": "ahwffBlobDatasetJson",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashin",
									"fileName": "manyinputslist.json"
								}
							}
						}
					},
					{
						"name": "ForEachOfManyInputs",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupManyInputsList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupManyInputsList').output.firstRow.fileNames",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "CopyOneOfManyInputs",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BlobSource",
											"recursive": true
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "ahwffBlobDatasetInParameterized",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "bashin/manyinputs",
												"fileName": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ahwffBlobDatasetOut",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "bashout/manyoutputs",
												"fileName": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "WebFromForEach",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ForEachOfManyInputs",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"message": "Hello from WebFromForEach",
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"preferSuccess": true
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetJson')]",
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetInParameterized')]",
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetOut')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineForeachIndex')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachIndex",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(0, length(pipeline().parameters.dataset))",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "WebFromForEachIndex",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"message": {
												"value": "Hello from WebForEachIndex, index: @{item()}, value: @{pipeline().parameters.dataset[item()]}",
												"type": "Expression"
											},
											"runId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"preferSuccess": true
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"dataset": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineGetMetadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ahwffBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "HttpFromGetMetadata",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GetMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"message": {
									"value": "@{activity('GetMetadata').output}",
									"type": "Expression"
								},
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"preferSuccess": true
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetIn')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineIf')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IfConditionSimple",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(pipeline().parameters.Number, 3)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "WaitFromIfFalse",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 5
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "WebFromIfTrue",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"message": {
												"value": "Number in PipelineIf was greater than 3",
												"type": "Expression"
											},
											"runId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"preferSuccess": true
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Number": {
						"type": "Int"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineLookupAndExecute')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"dataset": {
								"referenceName": "ahwffBlobDatasetJson",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashin",
									"fileName": "filename.json"
								}
							}
						}
					},
					{
						"name": "ExecutePipelineFromLookup",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ahwffPipelineBlobToBlob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"OutputBlobName": {
									"value": "@activity('Lookup').output.firstRow.fileName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetJson')]",
				"[concat(variables('factoryId'), '/pipelines/ahwffPipelineBlobToBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineSingleWait')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline with single wait activity",
				"activities": [
					{
						"name": "MyWait",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					}
				],
				"annotations": [],
				"concurrency": 15
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineSproc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Add some description",
				"activities": [
					{
						"name": "SqlSproc",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "sp_sqlexec",
							"storedProcedureParameters": {
								"p1": {
									"value": "select * from dbo.EntityCreation",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ahwffSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffSqlLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineSqlToBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopySqlToBlob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffSqlDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffBlobDatasetOutWithManagedIR",
								"type": "DatasetReference",
								"parameters": {
									"fileName": {
										"value": "@pipeline().parameters.OutputBlobName",
										"type": "Expression"
									},
									"folderPath": "bashout"
								}
							}
						]
					}
				],
				"parameters": {
					"OutputBlobName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffSqlDatasetIn')]",
				"[concat(variables('factoryId'), '/datasets/ahwffBlobDatasetOutWithManagedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffPipelineWeb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WebFromWeb",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-04.usgovtexas.logic.azure.us:443/workflows/06d3f1e80c424db6b00bc8ad9b2532f1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AwLvoWlxRIBLm9nentVWWQRVkvWMNd4OhqqLy-gNpZo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"message": {
									"value": "@{pipeline().parameters.Greeting} and @{json('{''one'':1}')}",
									"type": "Expression"
								},
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"preferSuccess": true
							}
						}
					}
				],
				"parameters": {
					"Greeting": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineBlobToBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyBlobToBlob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4
						},
						"inputs": [
							{
								"referenceName": "ahwffpubBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@pipeline().parameters.OutputBlobPath",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.OutputBlobName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"OutputBlobName": {
						"type": "String"
					},
					"OutputBlobPath": {
						"type": "String",
						"defaultValue": "bashout"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetIn')]",
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetOut')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineCanonical')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CanonicalStart",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.eastus.logic.azure.com:443/workflows/c96e127b209948228f6cddcab121aaab/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=27wBIQwhVaA2eMhNEnuHSK604VEJpsUIslT4nkpwNiM",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"message": "Hello from CanonicalStart",
								"preferSuccess": {
									"value": "@pipeline().parameters.TakeSuccessPath",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CanonicalCopy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CanonicalStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffpubBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@if(activity('CanonicalStart').output.ShouldSucceed, 'bashout', 'BadContainerName')",
										"type": "Expression"
									},
									"fileName": "CanonicalOutput.csv"
								}
							}
						]
					},
					{
						"name": "CanonicalSucceeded",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CanonicalCopy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.eastus.logic.azure.com:443/workflows/c96e127b209948228f6cddcab121aaab/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=27wBIQwhVaA2eMhNEnuHSK604VEJpsUIslT4nkpwNiM",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"message": "Hello from CanonicalSucceeded",
								"preferSuccess": true
							}
						}
					},
					{
						"name": "CanonicalFailed",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CanonicalCopy",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.eastus.logic.azure.com:443/workflows/c96e127b209948228f6cddcab121aaab/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=27wBIQwhVaA2eMhNEnuHSK604VEJpsUIslT4nkpwNiM",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"message": "Hello from CanonicalFailed",
								"preferSuccess": true
							}
						}
					}
				],
				"parameters": {
					"TakeSuccessPath": {
						"type": "Bool"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetIn')]",
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetOut')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineCanonicalWithSkip')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Like PipelineCanonical, however pipeline run should succeed regardless of activity success.",
				"activities": [
					{
						"name": "CanonicalStart",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.eastus.logic.azure.com:443/workflows/c96e127b209948228f6cddcab121aaab/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=27wBIQwhVaA2eMhNEnuHSK604VEJpsUIslT4nkpwNiM",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"message": "Hello from CanonicalStart (with skip)",
								"preferSuccess": {
									"value": "@pipeline().parameters.TakeSuccessPath",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CanonicalCopy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CanonicalStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffpubBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@if(activity('CanonicalStart').output.ShouldSucceed, 'bashout', 'BadContainerName')",
										"type": "Expression"
									},
									"fileName": "CanonicalWithSkipOutput.csv"
								}
							}
						]
					},
					{
						"name": "CanonicalSucceeded",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CanonicalCopy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.eastus.logic.azure.com:443/workflows/c96e127b209948228f6cddcab121aaab/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=27wBIQwhVaA2eMhNEnuHSK604VEJpsUIslT4nkpwNiM",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"message": "Hello from CanonicalSucceeded (with skip)",
								"preferSuccess": true
							}
						}
					},
					{
						"name": "CanonicalSucceededFailed",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CanonicalSucceeded",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.eastus.logic.azure.com:443/workflows/c96e127b209948228f6cddcab121aaab/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=27wBIQwhVaA2eMhNEnuHSK604VEJpsUIslT4nkpwNiM",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"message": "Hello from CanonicalSucceededFailed (with skip)",
								"preferSuccess": true
							}
						}
					}
				],
				"parameters": {
					"TakeSuccessPath": {
						"type": "Bool"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetIn')]",
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetOut')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineComplex')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopySqlToBlob1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffpubSqlDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@if(pipeline().parameters.ShouldSucceed1, 'bashout', 'InvalidContainer')",
										"type": "Expression"
									},
									"fileName": {
										"value": "@concat('intermediate1_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Succeeded1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@if(pipeline().parameters.ShouldSucceed1, 'bashout', 'InvalidContainer')",
										"type": "Expression"
									},
									"fileName": {
										"value": "@concat('intermediate1_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashout",
									"fileName": {
										"value": "@concat('succeeded1_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Failed1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffpubBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashout",
									"fileName": {
										"value": "@concat('failed1_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Completed1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffpubBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashout",
									"fileName": {
										"value": "@concat('completed1_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "CopySqlToBlob2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob1",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Completed1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffpubSqlDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@if(pipeline().parameters.ShouldSucceed2, 'bashout', 'InvalidContainer')",
										"type": "Expression"
									},
									"fileName": {
										"value": "@concat('intermediate2_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Succeeded2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@if(pipeline().parameters.ShouldSucceed2, 'bashout', 'InvalidContainer')",
										"type": "Expression"
									},
									"fileName": {
										"value": "@concat('intermediate2_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashout",
									"fileName": {
										"value": "@concat('succeeded2_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Failed2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffpubBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashout",
									"fileName": {
										"value": "@concat('failed2_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Completed2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySqlToBlob2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffpubBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOut",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashout",
									"fileName": {
										"value": "@concat('completed2_', pipeline().parameters.OutputBlobName)",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"OutputBlobName": {
						"type": "String"
					},
					"ShouldSucceed1": {
						"type": "Bool",
						"defaultValue": false
					},
					"ShouldSucceed2": {
						"type": "Bool",
						"defaultValue": false
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffpubSqlDatasetIn')]",
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetOut')]",
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetIn')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineCustomBatch')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CustomBatchTest",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "00:03:00",
							"retry": 1,
							"retryIntervalInSeconds": 30
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "Arthurw@{pipeline().parameters.test}Custom.exe",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "ahwffpubStorageLinkedService",
								"type": "LinkedServiceReference"
							},
							"folderPath": "bashin/custombatchfiles",
							"extendedProperties": {
								"testExtendedProperty": "expected value"
							},
							"referenceObjects": {
								"linkedServices": [
									{
										"referenceName": "ahwffpubStorageLinkedService",
										"type": "LinkedServiceReference"
									}
								],
								"datasets": [
									{
										"referenceName": "ahwffpubBlobDatasetOut",
										"type": "DatasetReference",
										"parameters": {
											"folderPath": "bashout",
											"fileName": "testcustomout.csv"
										}
									}
								]
							}
						},
						"linkedServiceName": {
							"referenceName": "ahwffpubBatchLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "WebFromCustomBatch",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CustomBatchTest",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.eastus.logic.azure.com:443/workflows/c96e127b209948228f6cddcab121aaab/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=27wBIQwhVaA2eMhNEnuHSK604VEJpsUIslT4nkpwNiM",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"message": {
									"value": "@{activity('CustomBatchTest')}",
									"type": "Expression"
								},
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"preferSuccess": true
							}
						}
					}
				],
				"parameters": {
					"test": {
						"type": "String",
						"defaultValue": "Test"
					}
				},
				"annotations": [],
				"concurrency": 1
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffpubStorageLinkedService')]",
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetOut')]",
				"[concat(variables('factoryId'), '/linkedServices/ahwffpubBatchLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineForeachCopy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupManyInputsList",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"dataset": {
								"referenceName": "ahwffpubBlobDatasetJson",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashin",
									"fileName": "manyinputslist.json"
								}
							}
						}
					},
					{
						"name": "ForEachOfManyInputs",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupManyInputsList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupManyInputsList').output.firstRow.fileNames",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "CopyOneOfManyInputs",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BlobSource",
											"recursive": true
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "ahwffpubBlobDatasetInParameterized",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "bashin/manyinputs",
												"fileName": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ahwffpubBlobDatasetOut",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "bashout/manyoutputs",
												"fileName": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "WebFromForEach",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ForEachOfManyInputs",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.eastus.logic.azure.com:443/workflows/c96e127b209948228f6cddcab121aaab/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=27wBIQwhVaA2eMhNEnuHSK604VEJpsUIslT4nkpwNiM",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"message": "Hello from WebFromForEach",
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"preferSuccess": true
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetJson')]",
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetInParameterized')]",
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetOut')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineForeachIndex')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachIndex",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(0, length(pipeline().parameters.dataset))",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "WebFromForEachIndex",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-12.eastus.logic.azure.com:443/workflows/c96e127b209948228f6cddcab121aaab/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=27wBIQwhVaA2eMhNEnuHSK604VEJpsUIslT4nkpwNiM",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"message": {
												"value": "Hello from WebForEachIndex, index: @{item()}, value: @{pipeline().parameters.dataset[item()]}",
												"type": "Expression"
											},
											"runId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"preferSuccess": true
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"dataset": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineGetMetadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ahwffpubBlobDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "HttpFromGetMetadata",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GetMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.eastus.logic.azure.com:443/workflows/c96e127b209948228f6cddcab121aaab/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=27wBIQwhVaA2eMhNEnuHSK604VEJpsUIslT4nkpwNiM",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"message": {
									"value": "@{activity('GetMetadata').output}",
									"type": "Expression"
								},
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"preferSuccess": true
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetIn')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineIf')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IfConditionSimple",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(pipeline().parameters.Number, 3)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "WaitFromIfFalse",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 5
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "WebFromIfTrue",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-12.eastus.logic.azure.com:443/workflows/c96e127b209948228f6cddcab121aaab/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=27wBIQwhVaA2eMhNEnuHSK604VEJpsUIslT4nkpwNiM",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"message": {
												"value": "Number in PipelineIf was greater than 3",
												"type": "Expression"
											},
											"runId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"preferSuccess": true
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Number": {
						"type": "Int"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineLookupAndExecute')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"dataset": {
								"referenceName": "ahwffpubBlobDatasetJson",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "bashin",
									"fileName": "filename.json"
								}
							}
						}
					},
					{
						"name": "ExecutePipelineFromLookup",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ahwffpubPipelineBlobToBlob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"OutputBlobName": {
									"value": "@activity('Lookup').output.firstRow.fileName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetJson')]",
				"[concat(variables('factoryId'), '/pipelines/ahwffpubPipelineBlobToBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineSingleWait')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline with single wait activity",
				"activities": [
					{
						"name": "MyWait",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					}
				],
				"annotations": [],
				"concurrency": 15
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineSproc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SqlSproc",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "sp_sqlexec",
							"storedProcedureParameters": {
								"p1": {
									"value": "select * from dbo.EntityCreation",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ahwffpubSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffpubSqlLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineSqlToBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopySqlToBlob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ahwffpubSqlDatasetIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ahwffpubBlobDatasetOutWithManagedIR",
								"type": "DatasetReference",
								"parameters": {
									"fileName": {
										"value": "@pipeline().parameters.OutputBlobName",
										"type": "Expression"
									},
									"folderPath": "bashout"
								}
							}
						]
					}
				],
				"parameters": {
					"OutputBlobName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ahwffpubSqlDatasetIn')]",
				"[concat(variables('factoryId'), '/datasets/ahwffpubBlobDatasetOutWithManagedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubPipelineWeb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WebFromWeb",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-12.eastus.logic.azure.com:443/workflows/c96e127b209948228f6cddcab121aaab/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=27wBIQwhVaA2eMhNEnuHSK604VEJpsUIslT4nkpwNiM",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"message": {
									"value": "@{pipeline().parameters.Greeting} and @{json('{''one'':1}')}",
									"type": "Expression"
								},
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"preferSuccess": true
							}
						}
					}
				],
				"parameters": {
					"Greeting": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_7kl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('DestinationDataset_7kl_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DestinationDataset_7kl_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_w0y')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('DestinationDataset_w0y_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DestinationDataset_w0y_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_7kl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "DateTime"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "DateTime"
					},
					{
						"name": "Prop_5",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('SourceDataset_7kl_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('SourceDataset_7kl_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_w0y')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "DateTime"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "DateTime"
					},
					{
						"name": "Prop_5",
						"type": "DateTime"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('SourceDataset_w0y_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('SourceDataset_w0y_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffBlobDatasetIn')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"treatEmptyAsNull": true
					},
					"fileName": "[parameters('ahwffBlobDatasetIn_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('ahwffBlobDatasetIn_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffBlobDatasetInFolderOnly')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"folderPath": "[parameters('ahwffBlobDatasetInFolderOnly_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffBlobDatasetInParameterized')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"treatEmptyAsNull": true
					},
					"fileName": {
						"value": "[parameters('ahwffBlobDatasetInParameterized_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('ahwffBlobDatasetInParameterized_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffBlobDatasetJson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "JsonFormat"
					},
					"fileName": {
						"value": "[parameters('ahwffBlobDatasetJson_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('ahwffBlobDatasetJson_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffBlobDatasetOut')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"treatEmptyAsNull": true
					},
					"fileName": {
						"value": "[parameters('ahwffBlobDatasetOut_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('ahwffBlobDatasetOut_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffBlobDatasetOutWithManagedIR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffStorageLinkedServiceWithManagedIR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"treatEmptyAsNull": true
					},
					"fileName": {
						"value": "[parameters('ahwffBlobDatasetOutWithManagedIR_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('ahwffBlobDatasetOutWithManagedIR_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedServiceWithManagedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffSqlDatasetIn')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffSqlLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "EntityId",
						"type": "Guid"
					},
					{
						"name": "CustomerId",
						"type": "Guid"
					},
					{
						"name": "Timestamp",
						"type": "Datetime"
					},
					{
						"name": "DurationSeconds",
						"type": "Int"
					}
				],
				"typeProperties": {
					"tableName": "EntityCreation"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffSqlLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubBlobDatasetIn')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffpubStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"treatEmptyAsNull": true
					},
					"fileName": "[parameters('ahwffpubBlobDatasetIn_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('ahwffpubBlobDatasetIn_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffpubStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubBlobDatasetInFolderOnly')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffpubStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"folderPath": "[parameters('ahwffpubBlobDatasetInFolderOnly_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffpubStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubBlobDatasetInParameterized')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffpubStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"treatEmptyAsNull": true
					},
					"fileName": {
						"value": "[parameters('ahwffpubBlobDatasetInParameterized_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('ahwffpubBlobDatasetInParameterized_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffpubStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubBlobDatasetJson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffpubStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "JsonFormat"
					},
					"fileName": {
						"value": "[parameters('ahwffpubBlobDatasetJson_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('ahwffpubBlobDatasetJson_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffpubStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubBlobDatasetOut')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffpubStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"treatEmptyAsNull": true
					},
					"fileName": {
						"value": "[parameters('ahwffpubBlobDatasetOut_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('ahwffpubBlobDatasetOut_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffpubStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubBlobDatasetOutWithManagedIR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffpubStorageLinkedServiceWithManagedIR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"treatEmptyAsNull": true
					},
					"fileName": {
						"value": "[parameters('ahwffpubBlobDatasetOutWithManagedIR_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('ahwffpubBlobDatasetOutWithManagedIR_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffpubStorageLinkedServiceWithManagedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubSqlDatasetIn')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ahwffpubSqlLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "EntityId",
						"type": "Guid"
					},
					{
						"name": "CustomerId",
						"type": "Guid"
					},
					{
						"name": "Timestamp",
						"type": "Datetime"
					},
					{
						"name": "DurationSeconds",
						"type": "Int"
					}
				],
				"typeProperties": {
					"tableName": "EntityCreation"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffpubSqlLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HdiByoc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsight",
				"typeProperties": {
					"clusterUri": "https://hvbyocff.azurehdinsight.us",
					"userName": "[parameters('HdiByoc_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('HdiByoc_password')]"
					},
					"linkedServiceName": {
						"referenceName": "ahwffStorageLinkedService",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HdiByocLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsight",
				"typeProperties": {
					"clusterUri": "https://hvbyocffnewstorage.azurehdinsight.us",
					"userName": "[parameters('HdiByocLS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('HdiByocLS_password')]"
					},
					"linkedServiceName": {
						"referenceName": "AzureBlobStorage2",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HdiOnDemand')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsightOnDemand",
				"typeProperties": {
					"clusterType": "hadoop",
					"clusterSize": 1,
					"timeToLive": "00:20:00",
					"version": "3.6",
					"hostSubscriptionId": "[parameters('HdiOnDemand_properties_typeProperties_hostSubscriptionId')]",
					"clusterResourceGroup": "[parameters('HdiOnDemand_properties_typeProperties_clusterResourceGroup')]",
					"servicePrincipalId": "[parameters('HdiOnDemand_properties_typeProperties_servicePrincipalId')]",
					"osType": "Linux",
					"tenant": "[parameters('HdiOnDemand_properties_typeProperties_tenant')]",
					"clusterNamePrefix": "ff-",
					"clusterUserName": "[parameters('HdiOnDemand_properties_typeProperties_clusterUserName')]",
					"clusterPassword": {
						"type": "SecureString",
						"value": "[parameters('HdiOnDemand_clusterPassword')]"
					},
					"clusterSshUserName": "[parameters('HdiOnDemand_properties_typeProperties_clusterSshUserName')]",
					"clusterSshPassword": {
						"type": "SecureString",
						"value": "[parameters('HdiOnDemand_clusterSshPassword')]"
					},
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('HdiOnDemand_servicePrincipalKey')]"
					},
					"linkedServiceName": {
						"referenceName": "ahwffStorageLinkedService",
						"type": "LinkedServiceReference"
					},
					"headNodeSize": "",
					"dataNodeSize": "",
					"zookeeperNodeSize": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HdiOnDemandInPublic')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsightOnDemand",
				"typeProperties": {
					"clusterType": "hadoop",
					"clusterSize": 1,
					"timeToLive": "00:05:00",
					"version": "3.6",
					"hostSubscriptionId": "[parameters('HdiOnDemandInPublic_properties_typeProperties_hostSubscriptionId')]",
					"clusterResourceGroup": "[parameters('HdiOnDemandInPublic_properties_typeProperties_clusterResourceGroup')]",
					"servicePrincipalId": "[parameters('HdiOnDemandInPublic_properties_typeProperties_servicePrincipalId')]",
					"tenant": "[parameters('HdiOnDemandInPublic_properties_typeProperties_tenant')]",
					"clusterNamePrefix": "ffpub-",
					"clusterPassword": {
						"type": "SecureString",
						"value": "[parameters('HdiOnDemandInPublic_clusterPassword')]"
					},
					"clusterSshPassword": {
						"type": "SecureString",
						"value": "[parameters('HdiOnDemandInPublic_clusterSshPassword')]"
					},
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('HdiOnDemandInPublic_servicePrincipalKey')]"
					},
					"linkedServiceName": {
						"referenceName": "ahwffpubStorageLinkedService",
						"type": "LinkedServiceReference"
					},
					"headNodeSize": "",
					"dataNodeSize": "",
					"zookeeperNodeSize": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffpubStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HdiOnDemandPub')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsightOnDemand",
				"typeProperties": {
					"clusterType": "hadoop",
					"clusterSize": 1,
					"timeToLive": "00:25:00",
					"version": "3.6",
					"hostSubscriptionId": "[parameters('HdiOnDemandPub_properties_typeProperties_hostSubscriptionId')]",
					"clusterResourceGroup": "[parameters('HdiOnDemandPub_properties_typeProperties_clusterResourceGroup')]",
					"servicePrincipalId": "[parameters('HdiOnDemandPub_properties_typeProperties_servicePrincipalId')]",
					"tenant": "[parameters('HdiOnDemandPub_properties_typeProperties_tenant')]",
					"clusterNamePrefix": "ffpub-",
					"clusterPassword": {
						"type": "SecureString",
						"value": "[parameters('HdiOnDemandPub_clusterPassword')]"
					},
					"clusterSshPassword": {
						"type": "SecureString",
						"value": "[parameters('HdiOnDemandPub_clusterSshPassword')]"
					},
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('HdiOnDemandPub_servicePrincipalKey')]"
					},
					"linkedServiceName": {
						"referenceName": "ahwffpubStorageLinkedService",
						"type": "LinkedServiceReference"
					},
					"headNodeSize": "",
					"dataNodeSize": "",
					"zookeeperNodeSize": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffpubStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffBatchLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"accountName": "[parameters('ahwffBatchLinkedService_properties_typeProperties_accountName')]",
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('ahwffBatchLinkedService_accessKey')]"
					},
					"batchUri": "https://examplebatch.usgovtexas.batch.usgovcloudapi.net",
					"poolName": "examplepool",
					"linkedServiceName": {
						"referenceName": "ahwffBatchStorageLinkedService",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffBatchStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffBatchStorageLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureStorage",
				"typeProperties": {
					"connectionString": "[parameters('ahwffBatchStorageLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffSqlLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ahwffSqlLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffStorageLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureStorage",
				"typeProperties": {
					"connectionString": "[parameters('ahwffStorageLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffStorageLinkedServiceWithManagedIR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureStorage",
				"typeProperties": {
					"connectionString": "[parameters('ahwffStorageLinkedServiceWithManagedIR_connectionString')]"
				},
				"connectVia": {
					"referenceName": "ahwffIntegrationRuntimeCloud",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ahwffIntegrationRuntimeCloud')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubBatchLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"accountName": "[parameters('ahwffpubBatchLinkedService_properties_typeProperties_accountName')]",
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('ahwffpubBatchLinkedService_accessKey')]"
					},
					"batchUri": "https://arthurwbatch.eastus.batch.azure.com",
					"poolName": "examplepool",
					"linkedServiceName": {
						"referenceName": "ahwffpubBatchStorageLinkedService",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ahwffpubBatchStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubBatchStorageLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureStorage",
				"typeProperties": {
					"connectionString": "[parameters('ahwffpubBatchStorageLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubSqlLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ahwffpubSqlLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubStorageLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureStorage",
				"typeProperties": {
					"connectionString": "[parameters('ahwffpubStorageLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubStorageLinkedServiceWithManagedIR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureStorage",
				"typeProperties": {
					"connectionString": "[parameters('ahwffpubStorageLinkedServiceWithManagedIR_connectionString')]"
				},
				"connectVia": {
					"referenceName": "ahwffpubIntegrationRuntimeCloud",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ahwffpubIntegrationRuntimeCloud')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsight",
				"typeProperties": {
					"clusterUri": "https://hvbyocffnewstorage.azurehdinsight.us/",
					"userName": "[parameters('linkedService1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('linkedService1_password')]"
					},
					"linkedServiceName": {
						"referenceName": "AzureBlobStorage2",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffTriggerMultipleWeb')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ahwffPipelineWeb",
							"type": "PipelineReference"
						},
						"parameters": {
							"Greeting": "[parameters('ahwffTriggerMultipleWeb_properties_ahwffPipelineWeb_parameters_Greeting')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "ahwffPipelineWeb",
							"type": "PipelineReference"
						},
						"parameters": {
							"Greeting": "[parameters('ahwffTriggerMultipleWeb_properties_ahwffPipelineWeb_parameters_Greeting')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "ahwffPipelineWeb",
							"type": "PipelineReference"
						},
						"parameters": {
							"Greeting": "[parameters('ahwffTriggerMultipleWeb_properties_ahwffPipelineWeb_parameters_Greeting')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "ahwffPipelineWeb",
							"type": "PipelineReference"
						},
						"parameters": {
							"Greeting": "[parameters('ahwffTriggerMultipleWeb_properties_ahwffPipelineWeb_parameters_Greeting')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "ahwffPipelineWeb",
							"type": "PipelineReference"
						},
						"parameters": {
							"Greeting": "[parameters('ahwffTriggerMultipleWeb_properties_ahwffPipelineWeb_parameters_Greeting')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2018-10-16T22:04:12.9539318Z",
						"endTime": "2028-10-16T22:04:12.9539318Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ahwffPipelineWeb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffTriggerSingleWait')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ahwffPipelineSingleWait",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2018-10-16T22:04:12.9529329Z",
						"endTime": "2028-10-16T22:04:12.9529329Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ahwffPipelineSingleWait')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffTriggerTumbling')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "ahwffPipelineSingleWait",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 15,
					"startTime": "2018-10-16T17:04:12.9539318Z",
					"endTime": "2018-10-16T20:49:12.9539318Z",
					"maxConcurrency": 10,
					"retryPolicy": {}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ahwffPipelineSingleWait')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubTriggerMultipleWeb')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ahwffpubPipelineWeb",
							"type": "PipelineReference"
						},
						"parameters": {
							"Greeting": "[parameters('ahwffpubTriggerMultipleWeb_properties_ahwffpubPipelineWeb_parameters_Greeting')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "ahwffpubPipelineWeb",
							"type": "PipelineReference"
						},
						"parameters": {
							"Greeting": "[parameters('ahwffpubTriggerMultipleWeb_properties_ahwffpubPipelineWeb_parameters_Greeting')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "ahwffpubPipelineWeb",
							"type": "PipelineReference"
						},
						"parameters": {
							"Greeting": "[parameters('ahwffpubTriggerMultipleWeb_properties_ahwffpubPipelineWeb_parameters_Greeting')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "ahwffpubPipelineWeb",
							"type": "PipelineReference"
						},
						"parameters": {
							"Greeting": "[parameters('ahwffpubTriggerMultipleWeb_properties_ahwffpubPipelineWeb_parameters_Greeting')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "ahwffpubPipelineWeb",
							"type": "PipelineReference"
						},
						"parameters": {
							"Greeting": "[parameters('ahwffpubTriggerMultipleWeb_properties_ahwffpubPipelineWeb_parameters_Greeting')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2018-10-16T00:01:27.9112564Z",
						"endTime": "2028-10-16T00:01:27.9112564Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ahwffpubPipelineWeb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubTriggerSingleWait')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ahwffpubPipelineSingleWait",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2018-10-16T00:01:27.910258Z",
						"endTime": "2028-10-16T00:01:27.910258Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ahwffpubPipelineSingleWait')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubTriggerTumbling')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "ahwffpubPipelineSingleWait",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 15,
					"startTime": "2018-10-15T19:01:27.910258Z",
					"endTime": "2018-10-15T22:46:27.910258Z",
					"maxConcurrency": 10,
					"retryPolicy": {}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ahwffpubPipelineSingleWait')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffIntegrationRuntimeCloud')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "usgovarizona"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ahwffpubIntegrationRuntimeCloud')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "usgovarizona"
					}
				}
			},
			"dependsOn": []
		}
	]
}